doctype
html
  head
    meta(http-equiv="Content-type", content='text/html; charset=utf-8')
    meta(name="renderer", content="webkit")
    meta#viewport(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(content="black" name="apple-mobile-web-app-status-bar-style")
    meta(content="telephone=no" name="format-detection")
    meta(http-equiv="x-rim-auto-match" content="none")
    meta(content="yes" name="apple-touch-fullscreen")
    title sinly editor
  body
    #mobile
    script(src="/dist/mobile.js")